/* Style The Dropdown Button */
.dropbtn {
    height: 50px;
    width: 300px;
    margin: 0px 0px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--light-gray);
    color: var(--black);
    border: 2px solid var(--black);
    cursor: pointer;
}

.menu-dropbtn {
  height: 60px;
  width: 240px;
  margin: 0px 0px;
  padding: 15px;
  border-radius: 5px;
  font-size: 32px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--button-blue);
  color: var(--white-bg);
  border: 2px solid var(--button-blue);
  cursor: pointer;
}

.menu-big-dropbtn {
  height: 80px;
  width: 680px;
  margin: 0px 0px;
  padding: 25px;
  border-radius: 5px;
  font-size: 32px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--logo-blue);
  color: var(--white-bg);
  border: 2px solid var(--logo-blue);
  cursor: pointer;
}

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 24px;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--logo-blue);
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn .menu-dropbtn {
    background: var(--light-gray);
  }

  .dropdown-input{
    height: 25px;
    min-width: 275px;
    margin: 0px 0px;
    padding: 10px;
    font-size: 24px;
    border: 2px solid var(--black);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--light-gray);
    color: var(--black);
    display: block;
}

a:visited {
    color: var(--logo-blue); /* ÷вет посещенных ссылок */
}